.customNav{
   position: fixed;
   width: 100%;
   z-index: 10;
}
.navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;
}

.nav-item{
    margin: 0px 15px;
}

.myNavName{
    font-size: 30px;

}

.jumbotron{
    padding-top: 100px;
}

.myPic{
    object-fit: cover;
    border: 4px black solid;
    border-radius: 10px;
}