body{
    background-color: #e9ecef;
}



.customNav{
   position: fixed;
   width: 100%;
   z-index: 10;
}
.navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;
}

.nav-item{
    margin: 0px 15px;
}

.myNavName{
    font-size: 30px;

}
.myNameJumbo{
    border: 3px;
    border-style: none none solid none;
    padding-bottom: 10px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.jumbotron{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    border: 2px;
    border-style: none none solid none;
}

#lead{
    text-align: center;
}
.myPic{
    object-fit: cover;
    border: 4px black solid;
    border-radius: 10px;
}

.workGrid{
    padding-top: 20px;
}
#myProjects{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
   border: 3px;
   border-style: none none solid none;
   border-radius: 5px;
   padding-bottom: 10px;
}

.work{
    border: 3px;
    border-style: none none solid none;
    padding-bottom: 20px;
}


#skillsAbout{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
   border: 3px;
   border-style: none none solid none;
   border-radius: 5px;
   padding-bottom: 10px;
   padding-top: 15px;
}

#gitLink{
    text-decoration: none;
    color: black;
}

#intro{
    padding-top: 15px;
    text-align: center;
}

#codecademyLink{
    text-decoration: none;
    color: grey;
}
#skills{
    padding-top: 15px;
}

#SFL{
    
    font-weight:1000;
} 

#about{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
   border: 3px;
   border-style: none none solid none;
   border-radius: 5px;
   padding-bottom: 10px;
   padding-top: 15px;
}


#aboutPara{
    padding-top: 30px;
}

.footer{
    background-color: grey;
    height: 100px;
}